.quest-container {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(to right, transparent, rgb(0, 0, 0));
  margin: 4rem 4rem;
  text-align: start;
}
.img {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img img {
  width: 450px;
  border-radius: 1rem;
  filter: drop-shadow(0 0 1rem white);
}

.question {
  margin: 1rem 0;
}

.options h1 {
  font-size: 1.4rem;
  cursor: pointer;
}

.options h1:hover {
  background-color: orange;
  color: white;
  width: fit-content;
  padding: 0.4rem;
}

.timer {
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid white;
  width: 10rem;
}
.timer h1 {
  padding: 1rem;
}

.quiz-results {
  background: linear-gradient(to right, transparent, black);

  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
  color: white;
}

.answers-summary {
  background: linear-gradient(to right, transparent, black);

  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
}

.answer-item {
  border: 1px solid white;
  background: linear-gradient(to right, transparent, black);
  padding: 1rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  line-height: 2rem;
}

.general-result {
  background-color: transparent;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.start-para {
  display: flex;
  font-size: 1.3rem;
}
